
    <!doctype html>
    <head> 
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <div style="margin: auto; max-width: 94%;  padding: 10px;">
    <title>Uploader votre fichier</title>

    <img src="/static/fiduce.png" alt="fiduce" style="display: block; margin-left: auto; margin-right: auto;  max-height: 300px; max-width: 80%;">



    <h1 style="margin: auto; max-width: 80%;  padding: 10px; text-align:center;" >Uploader votre fichier</h1>
    <form method=post enctype=multipart/form-data style="margin: auto; width: 94%;  padding: 10px; text-align:center;">
      <input type=file name=file>
      <input type=submit value=Uploader>
    </form>
    </div>
 